@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --white: #fff;
    --light-gray: #CAC9CE;
    --steel-blue: #5785B6;
    --rich-black-fogra-39: #050505;
    --vegas-gold: #CFB755;
    --prussian-blue: #113557;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--rich-black-fogra-39);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after{
    box-sizing: inherit;
}

html,
body{
    font-size: 1rem;
    font-family: 'El Messiri', sans-serif;
    height: 100%;
}

body{
    background: var(--rich-black-fogra-39);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

input{
    border: none;
    outline: none;
}

input:focus{
    outline: none;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.calculator{
    background: var(--prussian-blue);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75rem;
    width: 20rem;
    border: var(--border);
    padding: .75rem;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.screen{
    grid-column: 1/5;
    border-radius: .75rem;
    font-size: 2rem;
    height: 6rem;
    color: var(--light-gray);
    background: var(--steel-blue);
    text-align: end;
    padding: .5rem;
}

::placeholder{
    color: var(--vegas-gold);
}

.symbol,
.number{
    display: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1;
    font-size: 1.25rem;
    color: var(--white);
    border-radius: 50%;
    transition: .15s ease;
}

.symbol{
    background: #5d68e2;
}

.symbol:hover{
    background: #4d55b1;
}

.number{
    background: #333849;
}

.number:hover{
    background: #333489ac;
}